extends parts/layouts/default.pug
block variables
    - var TITLE = 'Взлом Wildberries — Заставь алгоритмы маркетплейса продвигать твой товар'

block content
  include _data.pug

  section#first
    .wrapper
      h1.text-3xl.lg_text-5xl.2xl_text-6xl В #[span.accent ТОП] на Wildberries
      .title
        h2.text-xl.lg_text-2xl Заставь алгоритмы маркетплейса продвигать свой товар
      .content
        p.desc Авторский практикум по выходу на WB и дальнейшему развитию бизнеса от Владимира Лопасова 
        +image('1.svg').img
        .text
          +image('gift.svg')
          span.accent Доступ к сервису аналитики на 1 месяц
        a(href="#tariffs").button-1 Хочу научиться
    +image('lopasov.png').lopasov-img

  section#video
    .wrapper
      .video
        iframe( 
            allowfullscreen="1" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            title="YouTube video player"
            src="https://www.youtube.com/embed/XHOmBV4js_E?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.lopasow.ru&amp;widgetid=1"
            width="600"
            height="360"
            frameborder="0"
          )
      h2 #[span За 3 минуты рассказываю] #[span чем мой подход к] #[span построению бизнеса] #[span.accent отличается от других]
  
  section#author
    .wrapper
      .title
        h2 Автор практикума #[span.accent Владимир&nbsp;Лопасов]
      ul.facts
        each fact in facts
          li.fact #[+image('circle.svg').icon] !{fact}
    +image('1.svg').img


  section#for-whom
    .title
      h2 #[span.accent Для кого] я создал этот&nbsp;практикум:
    .wrapper
      .advantages 
        each adv in advantages
          .card 
            .title
              +image('check.svg')
              h3!= adv.title
            .desc!= adv.desc

  section#phrase
    .img
      +image('2.svg')
    .wrapper
      .title
        h2 «Если Вашего #[span.accent бизнеса нет в онлайне], то у Вас нет бизнеса»
      p.text Сейчас эта фраза актуальна #[br] как никогда!
  
  section#reviews
    .title
      h2 #[span.accent Отзывы] о моей#[br.lg_hidden] работе
    .wrapper
      .reviews.swiper
        .swiper-wrapper
          each rev in reviews 
            .swiper-slide.review
              +image(rev.img)
        .swiper-button-next
          +image('circle-arrow.svg')
        .swiper-button-prev
          +image('circle-arrow.svg')
  

  section#education
    .title
      h2 В процессе #[span.accent обучения] #[br.lg_hidden] вы:
    .wrapper
      ul.abilities
        each ability in abilities
          li.ability
            +image('plus.svg').img
            p.text!= ability

  section#awaits
    .title
      h2 Что Вас #[span.accent ждёт]?
    .wrapper
      ul.awaits
        each aw in awaits
          li.await
            .text
              h3!= aw.title
              p!= aw.text
            +image(aw.img).img

  section#workshop 
    .wrapper
      .head
        .text
          .title
            h2 Программа #[br.lg_hidden]#[span.accent практикума]
          p.desc Обучение будет постоянно обновляется как только появляются новые фишки на рынке маркетплейсов!
        +image('programm.svg').img
      .accordeon(data-tsi-accordeon state-on-parent)
        each m, key in modules
          .module
            .heading(data-tsi-toggle="collapse", data-tsi-target=`.content.module-${key}`)
              .text 
                h3!=m.title
                .desc!=m.desc
              .icon 
                +image('chevron.svg')
            .content(class=`module-${key}`, class=(key == 0 ? 'show' : '') )
              .collapse-body!=m.content
  
  section#tariffs
    .title 
      h2 Тарифы
    .wrapper 
      each t in tariffs.units 
        .tarif 
          .info
            .title
              h3!= t.title
              .places.accent!= t.places
            .price 
              .val!= t.price.val + ' ₽'
              if t.price.old
                .old.accent!= t.price.old + ' ₽'
            .buy
              .full
                .title За полную стоимость
                a(href=t.links.buy).button-1 Купить
              if t.price.prepay
                .prepay
                  .title!= 'Предоплата ' + t.price.prepay + ' ₽'
                  a(href=t.links.prepay).button-1 Оплатить
          ul.advantages
            for adv, key in tariffs.advantages
              li.adv
                +image('ok.svg').icon(class=!t.advs[key] ? 'hidden' : '' )
                +image('cross.svg').icon(class=t.advs[key] ? 'hidden' : '' )
                .text!= adv

  section#tinkoff
    +image('tinkoff.png').mb-3.sm_hidden
    .title
      h2 #[span.accent Рассрочка] от #[br.sm_hidden] АО "Тинькоф Банк"
    .wrapper
      .text
        p Приобрести обучение в рассрочку могут все граждане рф. Для этого не обязательно быть клиентом Тинькофф банк.
        p рассрочка без первого взноса, без#[br] процентов и без переплаты
        p.accent Рассрочка доступна на&nbsp;4,&nbsp;6&nbsp;и&nbsp;12 месяцев
      +image('tinkoff.png').img.hidden.sm_block

  section#faq
    .title
      h2 Часто задаваемые #[br.lg_hidden] #[span.accent вопросы]:
    .wrapper
      .questions
        each q in questions 
          .quest 
            +image('question.svg').icon
            .text
              h3.question!= q.question
              .answer!= q.answer
